{% include("templates/header.twig") %}

<body>
    {% include("templates/navbar.twig") %}
    <main class="edit-profile">
        <section class="profile-form">
            <header class="profile-form__header">
                <div class="profile-form__avatar-container">
                    <img src={{user.user_image}} class="profile-form__avatar" />
                </div>
                <h4 class="profile-form__title">{{user.username}}</h4>
            </header>
            <form method="post" action="/editSubmit" class="edit-profile__form" enctype="multipart/form-data">
                <div class="edit-profile__form-row">
                    <label for="name" class="edit-profile__label">Name
                    </label>
                    <input id="name" name="name" type="text" value={{user.name}} class="edit-profile__input" />
                </div>
                <div class="edit-profile__form-row">
                    <label for="profile_pic" class="edit-profile__label">
                        Profile Picture:
                    </label>
                    <input type="file" name="img_file" id="img_file" />
                </div>
                <div class="edit-profile__form-row">
                    <label for="bio" class="edit-profile__label">
                        Bio
                    </label>
                    <textarea id="bio" name="bio" class="edit-profile__textarea">{{user.bio}}</textarea>
                </div>

                <div class="edit-profile__form-row">
                    <label for="email" class="edit-profile__label">
                        Email
                    </label>
                    <input type="text" name="email" class="edit-profile__input" id="email" value={{user.email}} />
                </div>

                <div class="edit-profile__form-row">
                    <label for="gender" class="edit-profile__label">Gender</label>
                    <select id="gender" name="gender" value={{user.gender}}>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="whatever">Whatever</option>
                    </select>
                </div>

                <div class="edit-profile__form-row">
                    <label class="edit-profile__label"></label>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </section>
    </main>
    {% include("templates/footer.twig") %}