{% include("templates/header.twig") %}

<body>
    {% include("templates/navbar.twig") %}
    <main class="profile-container">
        <section class="profile">
            <header class="profile__header">
                <div class="profile__avatar-container">
                    <img src={{user.user_image}} class="profile__avatar" alt="No Profile Picture" />
                </div>
                <div class="profile__info">
                    <div class="profile__name">
                        <h1 class="profile__title">{{user.username}}</h1>
                        <a href="/edit" class="profile__button u-fat-text">Edit profile</a>
                        <i class="fa fa-cog fa-2x" id="cog"></i>
                    </div>
                    <ul class="profile__numbers">
                        <li class="profile__posts">
                            <a href="/selfPosts">
                                <span class="profile__number u-fat-text">{{user.post}}</span> posts
                            </a>
                        </li>
                        <li class="profile__followers">
                            <a href="/explore"> <span class="profile__number u-fat-text"> {{user.follower}}</span>
                                followers</a>
                        </li>
                        <li class="profile__following">
                            <a href="/explore"> <span class="profile__number u-fat-text">{{user.following}}</span>
                                following</a>
                        </li>
                    </ul>
                    <div class="profile__bio">
                        <span class="profile__full-name u-fat-text">{{user.name}}</span>
                        <p class="profile__full-bio">{{user.bio}}</p>

                    </div>
                </div>
            </header>
            <div class="profile__pictures">
                {% for feed in feeds %}
                <div class="col-4 div_pictures my-auto">
                    <img src={{feed.img}} class="profile-picture__picture" />

                    <div class="profile-picture__overlay">
                        <span class="profile-picture__number">
                            <i class="fa fa-heart"></i> {{feed.no_of_likes}}
                        </span>

                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </main>
    {% include("templates/footer.twig") %}