{% include("templates/header.twig") %}

<body>
    {% include("templates/navbar.twig") %}
    <div class="story-content">
        <div class="stories">
            <div class="story">
                <a href="/addstory">
                    <img class="story-add" src="assets/images/add.png">
                </a>
                <span>Add story</span>
            </div>
            <div class="story">
                <img class="story-img" src="{{user.user_image}}" id="{{user.username}}">
                <span>{{user.username}}</span>
            </div>
            {% for follow in follows %}
            <div class="story">
                <img class="story-img" src="{{follow.user_image}}" id="{{follow.username}}">
                <span>{{follow.username}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include("templates/feeds.twig") %}
    {% include("templates/footer.twig") %}