<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feed | Instaclone</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link href="/assets/css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head> 
    <body>
        <nav class="navigation">
            <a href="#">
                <img 
                    src="/assets/images/navLogo.png"
                    alt="logo"
                    title="logo"
                    class="navigation__logo"
                />
            </a>
            <div class="navigation__search-container">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="navigation__icons">
                <a href="/post" class="navigation__link">
                    <i class="fa fa-camera"></i>
                </a>
                <a href="/po lore.html" class="navigation__link">
                    <i class="fa fa-compass"></i>
                </a>
                <a href="#" class="navigation__link">
                    <i class="fa fa-heart-o"></i>
                </a>
                <a href="/profile" class="navigation__link">
                    <i class="fa fa-user-o"></i>
                </a>
            </div>
        </nav>
        <main class="feed">
            {% for feed in feeds %}
            <section class="photo">
                <header class="photo__header">
                    <div class="photo__header-column">
                        <img
                            class="photo__avatar"
                            src="{{feed.user_image}}"
                        />
                    </div>
                    <div class="photo__header-column">
                        <span class="photo__username">{{feed.username}}</span>
                        
                    </div>
                </header>
                <div class="photo__file-container">
                    <img
                        class="photo__file"
                        src="{{feed.img}}"
                    />
                </div>
                <div class="caption">
                </span>
                </div>
                <div class="photo__info">
                    <div class="photo__icons">
                        <span class="photo__icon">
                            <a href="/Like?feed_id={{feed.id}}">
                            <i class="fa fa-heart-o heart fa-lg"></i>
                            </a>
                        </span>
                        <span class="photo__icon">
                        <a href="#comment_text">
                            <i class="fa fa-comment-o fa-lg"></i>
                            </a>
                        </span>
                    </div>
                    <span class="photo__likes">{{feed.no_of_likes}} Likes</span>
                    <ul class="photo__comments"> 
                    <li>
                    <span class="photo__likes">{{feed.username}}....{{feed.caption}}
                    </li>
                    </ul>
                    <ul class="photo__comments"> 

                        {% for comment in comments %}
                         {% if (comment.feed_id==feed.id) %}
                        <li class="photo__comment">
                       
                            <span class="photo__comment-author">{{comment.commentor_username}}</span>{{comment.content}}
                          
                        </li>
                          {% endif %}
                       {% endfor %}
                    </ul>
                    <span class="photo__time-ago">{{feed.time}}</span>
                    <div class="photo__add-comment-container">
                        <form method="post" action="/addComment"> 
                        <input value={{feed.id}} name="id" hidden></input>
                        <textarea id="comment_text" placeholder="Add a comment..." class="photo__add-comment" name="content" required></textarea>
                        <input type="submit"></input>
                        </form>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
            </section>
            {% endfor %}
        </main>
        <footer class="footer">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">about us</a></li>
                    <li class="footer__list-item"><a href="#" class="footer_src_link">support</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">blog</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">press</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">api</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">jobs</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">privacy</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">terms</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">directory</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">language</a></li>
                    <li class="footer__list-item"><a href="/logout" class="footer__link">Log out</a></li>
                </ul>
            </nav>
            <span class="footer__copyright">© 2020 instagram@SDSLabs</span>
        </footer>
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>